#contact
{
	padding: 10px;
}

#contact dt
{
	font-size: 40px;
	color:#3385FF;
}

#contact dd
{
	font-size: 22px;
	margin-bottom: 40px;
}

#contact p
{
	margin-top: 0;
}

#contact #contactusform
{
	width: 100%;
	height: 100%;
}

#contact #contactusform table
{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#contact #contactusform td:first-child
{
	width: 40%;
}

#contact #contactusform label
{
	font-size: 25px;
	color:#3385FF;
	display: block;
}
#contact #contactusform input
{
	font-size: 22px;
	width: 80%;
	height: 50px;
	border-radius: 10px;
}

#contact #contactusform textarea
{
	font-size: 22px;
	width: 100%;
	resize: none;
	min-height: 300px;
	display: block;
	border-radius: 10px;
}

#contact #contactusform button
{
	font-size: 25px;
	background-color: #3385FF;
	border: 0;
	border-radius: 10px;
	color: white;
	height: 40px;
	cursor: pointer;
}

#contact #contactusform .help-block
{
	color: red;
}